body, a, p, td, th { color: #000; font-family: Arial, Sans-serif; font-size: 12px; font-weight:normal; margin: 0px; padding: 0px; }

table { width: 100%; border-collapse: collapse;  }

.bg_rarity_c { background: #ba3b03; }
.bg_rarity_u { background: #898989; }
.bg_rarity_r { background: #faab03; }
.bg_rarity_l { background: #9700b2; }

span.hidden { display: none; }

#top_menu { background: #ddd; }
	#links { position: absolute; left: 0px; width: 80%; background: #ddd; padding: 5px; }
	#user_info { position: absolute; right: 0px; text-align: right; padding: 5px; width: 20%; background: #ddd; }

#main { position: absolute; top: 25px; width: 100%;}
	#filter_menu { position: absolute; left: 0px; width: 22%; padding: 5px; }
	#chars_list { position: absolute; right: 15%; width: 61%; padding: 5px; }
	#deck_helper { position:absolute; right: 0px; width: 15%; padding: 5px; } 

table.chars td,
table.chars th { padding: 3px 6px; text-align: left; }
table.chars th.header {
	// background-image: url(/img/no_sort.gif);
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
}
table.chars th.headerSortUp {
	// background-image: url(/img/asc.gif);
	background-color: #ddf;
}
table.chars th.headerSortDown {
	// background-image: url(/img/desc.gif);
	background-color: #ddf;
}
table.cahrs td.price { color: #f0f590; }
table.cahrs td.rate { color: gray; }


div.clan_checkbox { display: inline-block; padding: 0px 2px; }
img.for_checkbox { margin-top: -6px; }
